p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.profile-container {
  margin: 20px;
}


.profile-container.horizontal .profile {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}


.profile-container.vertical .profile {
  display: block;
  margin-bottom: 20px;
}

.profile {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: hidden;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 4px;
}

.mutual-friends {
  color: rgb(112, 109, 109);
  margin-left: 8px;
  margin-bottom: 14px;
}

.add-friend-button {
  background-color: rgb(26, 112, 224);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
